.mainlist {
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(171, 183, 221, 0.2);  color: rgb(255, 255, 255);
    font-size: larger;  ;
}

#heading {
    color: rgb(194, 168, 24);
    background-color: rgb(19, 7, 7);
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto; border-radius: 5px; height: 35px;
}

body {
    background-color: rgba(228, 158, 178, 0.6);
}
.mainlist a:visited{color: black;}
ul>li{list-style-type:circle outside; }