@font-face {
  font-family: "Oswald";
  src: url(font/Oswald-VariableFont_wght.ttf);
}

body {
  margin: 5px;
  font-family: "Oswald";
}

.head-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.header {
  margin-right: 10px;
  border: 1px solid black;
  width: 80%;
  height: 132px;
}
.profile {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  /* border: 1px solid #143beb; */
}
.profile-section {
  border: 1px solid black;
  width: 20%;
  display: flex;
  flex-direction: column;
}
#userImage {
  width: 80px;
  height: 80px;
  margin-bottom: 15px;
  background-color: transparent;
  border-radius: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}
.center {
  height: 35px;
}
.btn-img {
  background-color: #a9d3c9;
  padding: 5px 10px;
  color: #000;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
}
#files {
  visibility: hidden;
  display: none;
}
.display {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.question-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.timer {
  border: 1px solid black;
  width: 20%;
  display: flex;
  flex-direction: column;
  height: 450px;
  margin-top: 10px;
}
.question {
  width: 80%;
  /* padding: 10px; */
  border: 1px solid black;
  height: 450px;
  margin-right: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding:30px 20px 35px 70px;
  font-size: 25px;
}
.option-list {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}
.timer h6, .timer p {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}

.btn-sec > button{
  background-color: #a9d3c9;
  padding: 5px 10px;
  color: #000;
  border-radius: 5px;
  cursor: pointer;
}
.btn{
  width: 100px;
  border: 1px solid black;
  text-align: center;
  padding: 2px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  background-color: #a9d3c9;
  font-weight: bold;
}
.btn-display{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}
.a-btn{
  display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-family: "Oswald";
font-size: 24px;
}
.option-list > label > input{
  margin-right: 40px;
}








.after-footer-btn {
  position: absolute;
  left: 5%;
  bottom: 2px;
  padding: 10px 20px;
  border-radius: 7px;
  border: 2px solid rgb(61, 106, 255);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #143beb;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin: 0px 40%;
  margin-top: 50px;
}
.after-footer-btn:hover {
  background: rgb(61, 106, 255);
  color: #fff;
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.after-footer-btn:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}
.after-footer-btn::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}
@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}
.after-footer-btn:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}
